@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #121212;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.background_search{
  background-image: url('http://i50.tinypic.com/20keohf.jpg');
  background-size: 16px;
  background-repeat: no-repeat;
  @apply caret-purple-900
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

body{
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar{
  width: 6px;
  /* scrollbar-gutter: stable; */
}

.sidebar{
  border: #ffffff;
}

::-webkit-scrollbar-thumb{
  background-color: rgb(216, 216, 216);
  border-radius: 40px;
}

::-webkit-scrollbar-track{
  background-color: transparent;
}

.button-s{
  @apply border border-slate-400 hover:bg-third rounded-full py-1.5 px-3 font-bold
}

.button-second{
  @apply bg-third font-bold rounded-lg py-1.5 px-3
}

.content-container{
  @apply flex flex-wrap mt-5 gap-4
}

.content-container-alpha{
  @apply flex flex-col mt-5 gap-y-5
}

.default-outlet{
  @apply mx-8 col-span-10
}

.height{
  height: calc(100vh - 70px);
}